/* For understanind css 'display: grid' paradigm: https://css-tricks.com/snippets/css/complete-guide-grid/ */
*{
    box-sizing: border-box;
}

:root {
    --star-time: 4s; 

    --star-opacity: 1;

    --star-blur: rgb(200, 200, 200);
    
    --star-translateX: 0px; 

    --star-translateY-0: 0px;
    --star-translateY-25: 0px;
    --star-translateY-50: 0px;
    --star-translateY-75: 0px;
    --star-translateY-100: 0px;
  }
body{
    background-color: rgb(6, 44, 60);
    color: whitesmoke;
}
/* game-container houses entire game */
.game-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    /* height: 98%;
    width: 98%; */
}
.game-text{
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
}

/* game-menu houses title and options */
.game-menu{
    grid-column: 2 / span 6;
    grid-row: 1 / span 1;
    border: solid 8px rgb(2, 57, 81);
    width: 75%;
    margin: auto;
}
.game-title{
    font-size: 32px;
    text-align: center;
}
.game-instructions{
    grid-column: 8 / span 2;
    grid-row: 1 / span 1;
}
.game-button{
    color:whitesmoke;
    border-radius: 2px;
    padding: 4px 8px;
    text-align: center;
    font-size: 20px;
    width: 90%;
    cursor: pointer;
}
.start-button{
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    background-color: rgb(33, 62, 39);
}
.pause-button{
    grid-column: 5/ span 1;
    grid-row: 2 / span 1;
    background-color: #626262;
}
.quit-button{
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
    background-color: rgb(10, 13, 19);
}


/* game hud houses time and score */
.game-hud{
    grid-column: 2 / span 6;
    grid-row: 3 / span 1;
    font-size: 28px;
    text-align: center;
}
.borderstyle{
    background-color: rgb(25, 31, 47);
    border: solid 4px rgb(25, 31, 47);
    border-radius: 4px;
}


/* graphics-container houses all game animations */
.graphics-container{
    grid-column: 2 / span 6;
    grid-row: 4 / span 8;
}
.graphics{
    width: 800px; /* width: 480px; width: 640px; */
    height: 450px; /* height: 270px; height: 360px; */
    margin: 20px;
    border-radius: 5px;
    border: solid 8px rgb(2, 57, 81);
    background-color: #121212;
    position: absolute;
    overflow: hidden;
}
.star{
    padding: 3px;
    top:800;
    left:600;
    position: relative;
    height: 5px;
    width: 5px;
    border-color: black;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px #0ff;
    animation: star var(--star-time) ease infinite;
    transform: translate(0px,0px);
}

.ship-container{
    position: absolute;
    width: 50%;
    margin: auto;
    transform: translate(200px, 240px);
  }
  .ship{
    position: relative;
    width: 50%;
    margin: auto;
    transform: scale(0.2);
  }
  .ship-component{
    position: absolute;
    width: 0;
    height: 0;

  }
  .ship-nose{
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 110px solid red; 
  }
  .ship-body{
    position: absolute;
    top: 110px;
    width: 100px;
    height: 200px;
    background: red;
  }
  .ship-wing-left{
    top: 200px;
    left: -60px;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
  }
  .ship-wing-right{
    top: 200px;
    left: 60px;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
  }
  .ship-tail{
    top: 280px;
    left: 20px;
    border-bottom: 50px solid red; 
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
  }
  .ship-tail-fire{
    top: 330px;
    left: 32px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid yellow;
  }


@keyframes star {
    0%   { opacity: var(--star-opacity); box-shadow: 0px -2px 0px 1px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-0));}
    25%  { opacity: var(--star-opacity); box-shadow: 0px -2px 0px 1px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-25));}
    50%  { opacity: var(--star-opacity); box-shadow: 0px -2px 0px 1px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-50));}
    75%  { opacity: var(--star-opacity); box-shadow: 0px -1px 0px 0px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-75));}
    100% { opacity: var(--star-opacity); box-shadow: 0px -1px 0px 0px var(--star-blur); transform: translate(var(--star-translateX), var(--star-translateY-100));}
}